.gametable {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  .itemcell{
    border: 1px solid black;
    width: 25%;
    height: 25%;
    box-sizing: border-box;
    position: relative; 
    padding: 10px 10px;
  }
  
  .goblin {
    background-color: red;
    width: 100px;
    height: 100px;
  }